<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <ul>
      <li>I read, digest, play, regurgigate, redraft, post. In that order.</li>
      <li>Started my career in Sept 2005.</li>
      <li>Always inclined towards infrastructure automation.</li>
      <li>Fed by Perl, spoiled by Ruby, humbled by Python. Poked at Java from a distance.</li>
      <li>One life is too short to engage in editor flame wars. Vim wins</li>
      <li>Live by - "When you see something ugly, why don't you react to it?" - one of the many things I learnt while working with <a href='https://in.linkedin.com/in/shuvammisra' target='_blank'>Shuvam Misra</a></li>
      <li>Interested in everything DevOps. Currently grappling with monitoring and the baggage it brings along.</li>
      <li>My <a href="{{ site.nav.main.writing }}">tech writings</a></li>
      <li>My <a href="http://crashpoint-zeros-brain.blogspot.in/" target="_blank">non-tech ramblings</a></li>
      <li>TODO: Plug in a heavy headed philosophical line that says nothing about me</li>
    </ul>
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>
