<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <ul>
      <li>Accomplished DevOps Enabler, skilled in identifying, developing and implementing digital strategies in alignment with business objectives.</li>
      <li>Particularly interested in containerization and challenges around it. Would love to chat, if discussions like this interest you: Coexistence of containers and configuration management.</li>
    </ul>
<!-- <h3 class="mb2">Here's how <a href='http://theremotelab.com' target='_blank'>TRL</a> help organizations in their DevOps journey:</h3> -->
   <ul>
     <li>Current state assessment of IT systems to determine DevOps maturity and define DevOps capabilities and lay out roadmap.</li>
     <li>Build future proof IT systems applying DevOps best practices, following Agile methodologies, using well designed automation processes, tools & technologies.</li>
     <li>Specialising in Agile, Continuous Integration, Continuous Deployment, Cloud, Infrastructure as Code, Infrastructure Provisioning, Orchestration, Monitoring, Alerting and Dash-boarding. </li>
   </ul>
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>
</div>
